{
    "presets": [
      "react", 
      [
        "env", {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      ["styled-jsx/babel", { "optimizeForSpeed": true }]
    ]
  }
  